$red: #e61e32;
$dark-red: #b31424;
$yellow: #ffdd00;

.gem-c-chevron-banner {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 0;
  -ms-grid-auto-rows: 1fr;
  -ms-grid-gap: 0;
}

.gem-c-chevron-banner:hover {
  .gem-c-chevron-banner__link-container {
    background-color: $dark-red;
  }

  #gem-c-chevron-banner__fill-1,
  #gem-c-chevron-banner__fill-2 {
    fill: $dark-red;
  }
}

.gem-c-chevron-banner--hover-border:hover {
  .gem-c-chevron-banner__link-container {
    background-color: $dark-red;
    border-color: govuk-colour("black");
    border-right: 1px solid govuk-colour("black");

    @include govuk-media-query(410px) {
      border-right: 0;
    }
  }

  #gem-c-chevron-banner__fill-1,
  #gem-c-chevron-banner__fill-2 {
    stroke: govuk-colour("black");
  }
}

.gem-c-chevron-banner:focus-within {
  .gem-c-chevron-banner__link-container:after {
    background-image: image-url("govuk_publishing_components/chevron-banner/chevron-banner-small-focus.svg");
  }

  .gem-c-chevron-banner__link-container {
    border-right: 1px solid govuk-colour("black");
    background-color: $yellow;
    border-color: govuk-colour("black");

    @include govuk-media-query(410px) {
      border-right: 0;
    }
  }

  .gem-c-chevron-banner__link {
    color: govuk-colour("black");
  }

  @include govuk-media-query(410) {
    #gem-c-chevron-banner__fill-1,
    #gem-c-chevron-banner__fill-2 {
      fill: $yellow;
      stroke: govuk-colour("black");
    }
  }
}

.gem-c-chevron-banner__link-container {
  position: relative;
  padding: govuk-spacing(2) 40px govuk-spacing(2) govuk-spacing(2);
  grid-row: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  background-color: $red;
  border-radius: 5px;
  border: 1px solid transparent;
  border-right: 0;

  @include govuk-media-query(410px) {
    border-radius: 5px 0 0 5px;
    padding: govuk-spacing(2);
  }

  @include govuk-media-query($from: tablet) {
    padding: govuk-spacing(2);
  }
}

.gem-c-chevron-banner__link-container:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 0;
  width: 25px;
  height: 100%;
  background-image: image-url("govuk_publishing_components/chevron-banner/chevron-banner-small.svg");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center right;

  @include govuk-media-query(410) {
    display: none;
    height: auto;
  }
}

.gem-c-chevron-banner__link:link {
  @include govuk-font(19, $weight: bold);
  color: govuk-colour("white");
  text-decoration: none;

  &:visited {
    color: govuk-colour("white");
  }

  &:focus {
    color: govuk-colour("black");
  }
}

.gem-c-chevron-banner__link:after {
  content: "";
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gem-c-chevron-banner__image {
  display: none;

  @include govuk-media-query(410px) {
    display: inline-block;
    height: 100%;
    grid-row: 1;
    grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    margin-left: -1px;
  }
}
